<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="navegation/css/style.css">
    <link href="navegation/css/bootstrap.min.css" rel="stylesheet">
    <link href="navegation/css/sticky-footer-navbar.css" rel="stylesheet">

	<title>Three Monster</title>
</head>

<body>
	<img src="navegation/img/background.png">
	<div class="container">


	  <div class="logo">
	    <img src="navegation/img/logo.png">
	    <p class="text-muted" align="center" style="font-size: 125%;"  >Coloque sua estratégia à prova.<br>Monte o melhor deck e destrua seus adversários!</p>
	  </div>

	  <div class="demo">
	    <div class="login">
	      <div class="login__form">
	        <div class="login__row">
	          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
	            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
	          </svg>
	          <input type="text" class="login__input name" placeholder="Nome de Usuário"/>
	        </div>
	        <div class="login__row">
	          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
	            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
	          </svg>
	          <input type="password" class="login__input pass" placeholder="Senha"/>
	        </div>
	        <button type="button" class="login__submit">Entrar</button>
	        <p class="login__signup">Não possui uma conta? &nbsp;<a>Cadastre-se!</a></p>
	      </div>
	    </div>
	  </div>
	</div>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#006dab;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="color:#FFFFFF" class="navbar-brand" href="index.html">Three Monster</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" >
          <ul class="nav navbar-nav" >
            <li><a style="color:#FFFFFF" href="saibamais.html">Saiba Mais</a></li>
            <li><a style="color:#FFFFFF" href="suporte.html">Suporte</a></li>
            <li><a style="color:#FFFFFF" href="contato.html">Contato</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	</div>

    <footer class="footer" style="background-color:#006dab;">
      <div class="container" >
      	<div style="float: left;">
      	<p class="text-muted" style="color:#FFFFFF">&#9400 2016 Todos os Direitos Reservados</p>
      </div>
      <div style="float: right;">
         <ul class="nav navbar-nav" style="right: 0px;">
         	<li style="margin-left: 6px;"> <img src="navegation/img/facebook.png" style="height : 30px; margin-top: 50%;"> </li>
         	<li style="margin-left: 6px;"> <img src="navegation/img/twitter.png" style="height : 30px; margin-top: 50%;">  </li>
         	<li style="margin-left: 6px;"> <img src="navegation/img/gplus.png" style="height : 30px; margin-top: 50%;">    </li>
         	<li style="margin-left: 6px;"> <img src="navegation/img/rssfeed.png" style="height : 30px; margin-top: 50%;">  </li>
         	<li style="margin-left: 6px;"> <img src="navegation/img/instagram.png" style="height : 30px; margin-top: 50%;"></li>
         </ul>
       </div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="navegation/js/bootstrap.min.js"></script>
    <script src="navegation/js/index.js"></script>
</body>

</html>